---
title: Lisa's Blog and Personal Website
layout: layouts/home.njk
---
<p>Welcome to my personal website and my blog about my life and harm reduction. Sign up for my newsletter and fill out a form if you have questions or need any supplies. Stay safe and be responsible!</p>
<img src="
<h2>Recent Posts</h2>
{% set maxPosts = collections.posts.length | min(3) %}
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive on the blog page.</a>.</p>